@import "common/foundation/variables";

.docked {
  .slideUp,
  .slideDown {
    .panel {
      transition: opacity 300ms;
    }
  }
  .slideUp .panel,
  .slideDown .extra-info-wrapper {
    pointer-events: none;
    opacity: 0;
  }
  .slideDown {
    .panel {
      opacity: 1;
    }
  }
  .slideUp {
    .extra-info-wrapper {
      opacity: 1;
    }
  }
}

.extra-info-wrapper {
  // this is needed in a theme because the order of the header contents is set in a template that
  // cannot be compiled on the front-side
  position: absolute;
  left: 37px;
  top: -1px;
  width: 100%;
  //
  opacity: 0;
  animation: fadein 300ms linear;
  .title-wrapper {
    padding-left: 0.25em;
    box-sizing: border-box;
  }
  .extra-info {
    display: block;
  }
  h1 {
    display: flex;
    font-size: $font-0;
    width: 100%;
    margin: 1px 0 0 0;
  }
  .badge-wrapper,
  i,
  .topic-statuses {
    i {
      color: $header_primary;
    }
    .d-icon-envelope {
      color: $danger;
    }
    .d-icon-lock {
      padding-top: 0.15em;
    }
    .unpinned {
      color: $header_primary;
    }
  }
  .topic-link {
    color: $header_primary;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// fixes
.topic-header-extra .discourse-tag {
  -webkit-animation: none;
  animation: fadein none;
}

.d-header {
  .d-header-icons .icon {
    padding: 0.15em 0.21em;
  }
}

.private-message-glyph {
  margin-right: 10px;
}
